@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
/* Custom
   ========================================================================== */
/**
  * My Styles
  */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  display: flex;
}

.sr-only {
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  top: 1em;
  left: 1em;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 80%;
}

header {
  display: none;
}

main {
  flex-grow: 2;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
@media screen and (min-width: 496px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (min-width: 496px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  p {
    font-size: 1.25rem;
  }
}

.menu {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.5);
}
.menu.invisible {
  display: none;
}

.menu-main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.menu-main > * {
  flex-basis: 100%;
}

.menu-main__elements,
.gameplay-extra {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.menu-main__elements button,
.gameplay-extra button {
  padding: 0.5rem;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.menu-main__elements button:not(:last-child),
.gameplay-extra button:not(:last-child) {
  margin-bottom: 1rem;
}
.menu-main__elements button:hover, .menu-main__elements button:focus,
.gameplay-extra button:hover,
.gameplay-extra button:focus {
  cursor: pointer;
}
.menu-main__elements button:hover:after, .menu-main__elements button:focus:after,
.gameplay-extra button:hover:after,
.gameplay-extra button:focus:after {
  width: 100%;
}
.menu-main__elements button:after,
.gameplay-extra button:after {
  width: 0;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  border-bottom: 2px solid #141414;
  content: "";
  transform: translateX(-50%);
  transition: width 300ms;
}

.gameplay {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.5);
  opacity: 1;
  transition: opacity 300ms;
}
.gameplay.invisible {
  opacity: 0;
}

.gameplay-intro,
.gameplay-main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
.gameplay-intro > *,
.gameplay-main > * {
  flex-basis: 100%;
}
.gameplay-intro > *:not(:last-child),
.gameplay-main > *:not(:last-child) {
  margin-bottom: 2rem;
}
.gameplay-intro .loader,
.gameplay-main .loader {
  flex-basis: auto;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
}

.gameplay-result {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.gameplay-result > * {
  flex-basis: 100%;
}
.gameplay-result > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 700px) {
  .gameplay-result > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.gameplay-result__elements .lead + p {
  margin-top: 1rem;
}

.gameplay-intro__elements {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.gameplay-main__elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

canvas {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
}

#canvas {
  padding: 1rem;
  max-width: none;
  position: fixed;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;
  background-color: #277714;
}
#canvas.background {
  z-index: -1;
  filter: blur(5px);
}

#dice-canvas {
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  display: none;
}

.loader {
  display: inline-block;
  margin-left: -1rem;
  margin-right: -1rem;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotation 1s linear infinite;
  border: 3px solid #f0f0f0;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
.loader:after {
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid;
  border-color: #641477 transparent;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}

.die {
  margin: 0.5rem;
  padding: 0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 0;
  outline: 2px dashed transparent;
  outline-offset: 2px;
  transition: outline-color 300ms;
}
@media screen and (min-width: 420px) {
  .die {
    margin: 0.75rem;
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 496px) {
  .die {
    margin: 1rem;
    width: 80px;
    height: 80px;
  }
}
.die:not(:disabled):hover, .die:not(:disabled):focus {
  cursor: pointer;
  outline-color: #141414;
  outline-offset: 3px;
}
.die:disabled {
  cursor: default;
}
.die.dark-blue .face {
  background-color: #142777;
}
.die.dark-magenta .face {
  background-color: #641477;
}
.die.dark-yellow .face {
  background-color: #807100;
}
.die.dark-red .face {
  background-color: #a43300;
}
.die[data-value="1"] .face {
  align-items: center;
  align-content: center;
  justify-content: center;
}
.die[data-value="1"] .pip:not(:first-child) {
  display: none;
}
.die[data-value="2"] .pip {
  background-color: transparent;
}
.die[data-value="2"] .pip:nth-child(1), .die[data-value="2"] .pip:nth-child(6) {
  background-color: #f0f0f0;
}
.die[data-value="3"] .face {
  position: relative;
}
.die[data-value="3"] .face:before {
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f0f0f0;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 420px) {
  .die[data-value="3"] .face:before {
    width: 8px;
    height: 8px;
  }
}
@media screen and (min-width: 496px) {
  .die[data-value="3"] .face:before {
    width: 10px;
    height: 10px;
  }
}
.die[data-value="3"] .pip {
  background-color: transparent;
}
.die[data-value="3"] .pip:nth-child(1), .die[data-value="3"] .pip:nth-child(6) {
  background-color: #f0f0f0;
}
.die[data-value="4"] .pip:nth-child(2), .die[data-value="4"] .pip:nth-child(5) {
  background-color: transparent;
}
.die[data-value="5"] .face {
  position: relative;
}
.die[data-value="5"] .face:before {
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f0f0f0;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 420px) {
  .die[data-value="5"] .face:before {
    width: 8px;
    height: 8px;
  }
}
@media screen and (min-width: 496px) {
  .die[data-value="5"] .face:before {
    width: 10px;
    height: 10px;
  }
}
.die[data-value="5"] .pip:nth-child(2), .die[data-value="5"] .pip:nth-child(5) {
  background-color: transparent;
}
.die.keep {
  opacity: 0.1;
}
.die.keep:hover, .die.keep:focus {
  opacity: 0.5;
}
.die .face {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.die .pip {
  display: block;
  margin: 4px;
  width: 6px;
  height: 6px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
@media screen and (min-width: 420px) {
  .die .pip {
    margin: 6px;
    width: 8px;
    height: 8px;
  }
}
@media screen and (min-width: 496px) {
  .die .pip {
    margin: 8px;
    width: 10px;
    height: 10px;
  }
}

.lead {
  font-size: 1.125rem;
}
@media screen and (min-width: 496px) {
  .lead {
    font-size: 1.252rem;
  }
}
@media screen and (min-width: 700px) {
  .lead {
    font-size: 1.5rem;
  }
}

.warning {
  color: #d72934;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
