@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");

/* Custom
   ========================================================================== */

/**
  * My Styles
  */

$black: #141414;
$white: #f0f0f0;
$gray20: #e9e9e9;
$gray40: #c9c9c9;
$gray60: #a4a3a3;
$gray80: #646464;
$pooltable: #277714;
$darkmagenta: #641477;
$darkblue: #142777;
$darkyellow: #807100;
$darkred: #a43300;
$warning: #d72934;

@function rem-calc($size) {
  $remSize: math.div($size, 16);

  @return #{$remSize}rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  max-width: 100%;

  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  display: flex;
}

.sr-only {
  height: 1px !important;
  width: 1px !important;

  position: absolute !important;
  top: 1em;
  left: 1em;
  overflow: hidden;

  clip: rect(1px, 1px, 1px, 1px);
  font-size: 80%;
}

header {
  display: none; // temp
}

main {
  flex-grow: 2;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;

  font-size: 2rem;
  text-align: center;

  @media screen and (min-width: 496px) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: 700px) {
    font-size: 4rem;
  }
}

h2 {
  margin-bottom: 2rem;

  font-size: 1.5rem;
  text-align: center;

  @media screen and (min-width: 496px) {
    font-size: 2rem;
  }

  @media screen and (min-width: 700px) {
    font-size: 3rem;
  }
}

p {
  @media screen and (min-width: 700px) {
    font-size: 1.25rem;
  }
}

.menu {
  display: flex;
  padding: 1rem;

  width: 100%;
  height: 100%;

  background-color: rgba($white, 0.5);

  &.invisible {
    display: none;
  }
}

.menu-main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 100%;

  > * {
    flex-basis: 100%;
  }
}

.menu-main__elements,
.gameplay-extra {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 1rem;

  button {
    padding: 0.5rem;

    position: relative;

    background-color: transparent;
    border: none;
    font-size: 1.5rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:hover,
    &:focus {
      cursor: pointer;

      &:after {
        width: 100%;
      }
    }

    &:after {
      width: 0;

      position: absolute;
      bottom: 0.5rem;
      left: 50%;

      border-bottom: 2px solid $black;
      content: "";
      transform: translateX(-50%);
      transition: width 300ms;
    }
  }
}

.gameplay {
  display: flex;
  padding: 1rem;

  width: 100%;
  height: 100%;

  background-color: rgba($white, 0.5);
  opacity: 1;
  transition: opacity 300ms;

  &.invisible {
    opacity: 0;
  }
}

.gameplay-intro,
.gameplay-main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: relative;

  text-align: center;

  > * {
    flex-basis: 100%;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .loader {
    flex-basis: auto;
    
    position: relative;
    top: 0;
    left: 0;

    transform: none;
  }
}

.gameplay-result {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;

  > * {
    flex-basis: 100%;

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @media screen and (min-width: 700px) {
        margin-bottom: 2rem;
      }
    }
  }
}

.gameplay-result__elements {

  .lead + p {
    margin-top: 1rem;
  }  

}

.gameplay-intro__elements {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}

.gameplay-main__elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  flex-grow: 1;
}

canvas {
  width: 100%;
  height: 100%;
}

#app {
  display: flex;

  width: 100%;
  height: 100%;
}

#canvas {
  padding: 1rem;

  max-width: none;
  position: fixed;
  top: -1rem;
  bottom: -1rem;
  left: -1rem;
  right: -1rem;

  background-color: $pooltable;

  &.background {
    z-index: -1;

    filter: blur(5px);
  }
}

#dice-canvas {
  padding: 1rem;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  display: none; // temp
}

.loader {
  display: inline-block;
  margin-left: -1rem;
  margin-right: -1rem;

  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;

  animation: rotation 1s linear infinite;
  border: 3px solid $white;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

  &:after {
    box-sizing: border-box;
    width: 34px;
    height: 34px;

    position: absolute;
    top: 50%;
    left: 50%;

    border: 3px solid;
    border-color: $darkmagenta transparent;
    border-radius: 50%;
    content: "";
    transform: translate(-50%, -50%);
  }
}

.die {
  margin: rem-calc(8);
  padding: 0;

  width: 50px;
  height: 50px;

  border: none;
  border-radius: 0;
  outline: 2px dashed transparent;
  outline-offset: 2px;
  transition: outline-color 300ms;

  @media screen and (min-width: 420px) {
    margin: rem-calc(12);

    width: 60px;
    height: 60px;
  }

  @media screen and (min-width: 496px) {
    margin: 1rem;

    width: 80px;
    height: 80px;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      cursor: pointer;
      outline-color: $black;
      outline-offset: 3px;
    }
  }

  &:disabled {
    cursor: default;
  }

  &.dark-blue {
    .face {
      background-color: $darkblue;
    }
  }

  &.dark-magenta {
    .face {
      background-color: $darkmagenta;
    }
  }

  &.dark-yellow {
    .face {
      background-color: $darkyellow;
    }
  }

  &.dark-red {
    .face {
      background-color: $darkred;
    }
  }

  &[data-value="1"] {
    .face {
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    .pip {
      &:not(:first-child) {
        display: none;
      }
    }
  }

  &[data-value="2"] {
    .pip {
      background-color: transparent;

      &:nth-child(1),
      &:nth-child(6) {
        background-color: $white;
      }
    }
  }

  &[data-value="3"] {
    .face {
      position: relative;

      &:before {
        display: block;
        width: 6px;
        height: 6px;

        position: absolute;
        top: 50%;
        left: 50%;

        background-color: $white;
        border-radius: 50%;
        content: "";
        transform: translate(-50%, -50%);

        @media screen and (min-width: 420px) {
          width: 8px;
          height: 8px;
        }

        @media screen and (min-width: 496px) {
          width: 10px;
          height: 10px;
        }
      }
    }

    .pip {
      background-color: transparent;

      &:nth-child(1),
      &:nth-child(6) {
        background-color: $white;
      }
    }
  }

  &[data-value="4"] {
    .pip {
      &:nth-child(2),
      &:nth-child(5) {
        background-color: transparent;
      }
    }
  }

  &[data-value="5"] {
    .face {
      position: relative;

      &:before {
        display: block;
        width: 6px;
        height: 6px;

        position: absolute;
        top: 50%;
        left: 50%;

        background-color: $white;
        border-radius: 50%;
        content: "";
        transform: translate(-50%, -50%);

        @media screen and (min-width: 420px) {
          width: 8px;
          height: 8px;
        }

        @media screen and (min-width: 496px) {
          width: 10px;
          height: 10px;
        }
      }
    }

    .pip {
      &:nth-child(2),
      &:nth-child(5) {
        background-color: transparent;
      }
    }
  }

  &.keep {
    opacity: 0.1;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  .face {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 100%;
  }

  .pip {
    display: block;
    margin: 4px;

    width: 6px;
    height: 6px;

    background-color: $white;
    border-radius: 50%;

    @media screen and (min-width: 420px) {
      margin: 6px;

      width: 8px;
      height: 8px;
    }

    @media screen and (min-width: 496px) {
      margin: 8px;

      width: 10px;
      height: 10px;
    }
  }
}

.lead {
  font-size: 1.125rem;

  @media screen and (min-width: 496px) {
    font-size: 1.252rem;
  }

  @media screen and (min-width: 700px) {
    font-size: 1.5rem;
  }
}

.warning {
  color: $warning;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
